@use "scheme";

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  color: scheme.$foreground-color;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: scheme.$background-color;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 2rem 0;
  background-color: scheme.$color-header;

  h1 {
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem;

  h2 {
    margin: 0 0 1rem 0;
  }

  .title {
    margin: 1rem 0;
  }

  span#title-display {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.container {
  border: 1px solid scheme.$foreground-color;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: scheme.$background-color-darker;

  &.alert {
    border: none;
    display: none; // toggles to block to show UI alert message
    background-color: scheme.$background-error;
    margin: 1rem 2rem;
    border-radius: 1rem;
    padding: 1rem;

    > * {
      margin: 0;
      text-align: center;
    }
  }
}

.preview {
  &.empty {
    display: flex;
  
    span#no-jobs {
      margin: auto;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: auto;

  input,
  select,
  button {
    transition: 200ms;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: scheme.$background-color;
    margin: 0.5rem 0 0 0;

    &:hover {
      transition: 200ms;
      background-color: scheme.$background-hover;
    }

    &:focus {
      outline: 1px solid scheme.$foreground-color;
      background-color: scheme.$background-hover;
    }
  }

  .operation {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    > input[type="number"] {
      width: 40%;
    }
    > select {
      width: 20%;
    }
  }

  &.buttons {
    button {
      width: 100%;
    }

    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.panel {
  flex-grow: 1;
  height: 100%;

  > * {
    height: 100%;
  }

  .input {
    display: grid; // toggles to none to hide when processing
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }

  .process {
    display: none; // toggles to flex to display processing specs
    justify-content: space-between;
  }
}
